# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
EN/Proj_UD_ML_P5/cifar-10-batches-py/data_batch_1
EN/Proj_UD_ML_P5/cifar-10-batches-py/data_batch_2
EN/Proj_UD_ML_P5/cifar-10-batches-py/data_batch_3
EN/Proj_UD_ML_P5/cifar-10-batches-py/data_batch_4
EN/Proj_UD_ML_P5/cifar-10-batches-py/data_batch_5
EN/Proj_UD_ML_P5/preprocess_batch_1.p
EN/Proj_UD_ML_P5/preprocess_batch_2.p
EN/Proj_UD_ML_P5/preprocess_batch_3.p
EN/Proj_UD_ML_P5/preprocess_batch_4.p
EN/Proj_UD_ML_P5/preprocess_batch_5.p
EN/Proj_UD_ML_P5/preprocess_validation.p
*.p
*.meta
*.gz
EN/Proj_UD_ML_P5/cifar-10-batches-py/test_batch
